DATABASE_URL=postgresql://user:password@localhost:5432/dbname
POSTGRES_DB_USER=<POSTGRES_USERNAME>
POSTGRES_DB_PASSWORD=<DATABASE_PASSWORD>
POSTGRES_DB=<DATABASE_NAME>

JWT_SECRET=replace-with-a-random-secret
JWT_ALGORITHM=HS256
OPENAI_API_KEY=sk-replace-with-your-openai-key